// Place all the styles related to the Admin/Achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3.achievement-category-selected {
  font-size: 1.3em !important;
}

img.achi-image {
  height: 5em;
  width: 5em;
}
