// Place all the styles related to the Admin/AchievementCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
}

ul.achievement-categories {
  font-size: 0.8em;
  h3 {
    font-size: 1.6em;
  }
}
