// Place all the styles related to the Admin/Quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quest-very_easy {
  color: #6c757d;
}

.quest-easy {
  color: #28a745;
}

.quest-medium {
  color: #ffeb3b;
}

.quest-hard {
  color: #ffc107;
}

.quest-very_hard {
  color: #dc3545;
}

img.reward-image {
  width: 3em;
  height: 3em;
}
