// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-infobox {
  border-radius: 0 !important;
}

img.character-image {
  width: 5em;
  height: 5em;
}

h3.character-level-class, h3.character-guild {
  font-size: 1.25em;
}
