// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-infobox, #user-experience {
  border-radius: 0 !important;
}

img.character-image {
  width: 5em;
  height: 5em;
}

h3.character-level-class, h3.character-guild {
  font-size: 1.25em;
}

ul.character-attributes {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    span.character-attribute {
      font-style: italic;
    }
  }
}

.quest-name {
  font-size: 1.3rem;
}

.quest-deadline {
  line-height: 1.7rem;
  font-size: 0.85em;
}

img.activity-image {
  width: 3em;
  height: 3em;
}

.activity-name {
  font-size: 1rem;
}

.activity-datetime {
  font-size: 0.85em;
}
