// Place all the styles related to the User/Quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quest-completed {
  opacity: 0.5;

  a, p {
    text-decoration: line-through;
  }
}

a.quest-link:hover {
  color: inherit;
}
